body {
    background: black;
}

header {
    background: #2a4a63;
    color: #fff;
}

header,
main {
    padding: 20px 65px;
}

header ul {
    color: #ccc;
}

.page_wrapper {
    width: 90%;
    max-width: 1150px;
    margin: 30px auto;
    background: #dadee3;
}