Названия сайтов для поиска работы в Канаде:
<ul>
    <li>https://www.jobbank.gc.ca/jobsearch/jobposting/38418273?source=searchresults</li>
    <li>https://ca.indeed.com/Russian-Language-jobs</li>
    <li>http://www.workopolis.com/shared/</li>
    <li>http://www.canadianjobs.com</li>
    <li>http://www.canjobs.com</li>
    <li>http://www.eluta.ca</li>
    <li>http://wowjobs.ca</li>
    <li>http://www.canadajobs.com/</li>
    <li>http://ca.jobrapido.com</li>
    <li>http://neuvoo.ca/en</li>
    <li>http://www.simplyhired.ca</li>
    <li>https://canada.xpatjobs.com/</li>
    <li>http://ca.jooble.org</li>
    <li>https://ca.rulla.com/jobs</li>
    <li>http://monster.ca</li>
    <li>http://wowjobs.ca</li>
    <li>http://jobs-open.ca</li>
    <li>http://careerbeacon.com</li>
    <li>http://ca.indeed.com</li>
    <li>http://workopolis.com</li>
    <li>http://kijiji.ca</li>
    <li>http://jobbank.gc.ca</li>
    <li>http://www.canadian-forests.com/job.html — Поиск работы в лесничестве.</li>
    <li>http://thegreenestworkforce.ca/index.php/en/ — Подбор и поиск работы в лесничестве.</li>
    <li>ComputerWork.com — ИТ вакансии.</li>
    <li>ITJobs.Ca — ИТ вакансии Канады.</li>
    <li>CharityVillage.com — Поиск работы в некоммерческом секторе.</li>
    <li>Prince Edward Island</li>
    <li>workpei.ca</li>
    <li>employmentjourney.com</li>
    <li>opportunitiespei.ca</li>
    <li>employpei.com</li>
    <li>cdspei.ca</li>
    <li>Summerside.SkillsMatcher.ca</li>
    <li>Saskatchewan</li>
    <li>saskjobs.ca</li>
    <li>careers.gov.sk.ca</li>
    <li>healthcareersinsask.ca</li>
    <li>thegreenestworkforce.ca</li>
    <li>British Columbia</li>
    <li>www.workbc.ca</li>
    <li>bcjobs.ca</li>
    <li>search.employment.gov.bc.ca</li>
    <li>healthmatchbc.org</li>
</ul>